head
{

}

body
{

}

* { margin:0; padding:0; } /* to remove the top and left whitespace */

html, body {  } /* just to be sure these are full screen*/

canvas { display:block; }

canvas {
    background: #eee;
}
